
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alta</title>
</head>
<body>
    <div> 
        <h1>Alta de Clientes</h1>
        <p>xxxxxxxxxxxxxxx</p>
        @Html.ActionLink("Listado de Clientes","Listado")
    <br />
        @Html.ActionLink("Retornar a la Pagina Principal","Index","Home")
    </div>
</body>
</html>
