
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado</title>
</head>
<body>
    <div> 
        <h1>Listado de Clientes</h1>
        <p>xxxxxxxxxxxxxxx</p>
        @Html.ActionLink("Alta de Clientes","Alta")
    <br />
        @Html.ActionLink("Retornar a la pagina principal","Index","Home")
    </div>
</body>
</html>
