
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alta</title>
</head>
<body>
    <div> 
        <h1>Alta de Proveedores</h1>
        <p>xxxxxxxxxxx</p>
        @Html.ActionLink("Alta de Proveedores","Alta")
    <br />
        @Html.ActionLink("Retornar a la Pagina Principal","Index","Home")
    </div>
</body>
</html>
